  <% provide(:title, 'mobile') %>
  <div class="mobile-menu">
	  <div class="m-left m-margin-01">
	    <div class="mobile-box-01 m-bgcolor-01">
	      <div class="m-plane">
	        <div class="m-title-01 m-margin-03">飞机票预定</div>
	        <div class="m-plane-i"></div>
	        <div class="m-title-02 m-text-01">旅行季大优惠，尽情期待！</div>
	      </div>
	    </div>
	    <div class="mobile-box-02 m-bgcolor-04">
	      <div class="m-hotel">        
	        <div class="m-hotel-i m-left"></div>
	        <div class="m-title-01 m-left m-margin-03 m-margin-04">酒店预定</div>
	      </div>
	    </div>
	    <div class="m-div">
	      <div class="mobile-box-03 m-bgcolor-05 m-left">
	        <div class="m-lottery">
	          <div class="m-title-01 m-text-01" >彩票</div>
	          <div class="m-lottery-i"></div>
	        </div>
	      </div>
	      <div class="mobile-box-03 m-bgcolor-05 m-right">
	      <div class="m-ticket">
	          <div class="m-title-01 m-text-01" >门票</div>
	          <div class="m-ticket-i"></div>
	        </div>
	      </div>
	      <div class="clearfix"></div>
	    </div>
	    <div class="mobile-box-02 m-bgcolor-07">
	      <div class="m-title-01 m-text-01 m-margin-05" >
		      我们一直在这里<br>
		      <span class="m-title-03">（快速、方便）</span>
	      </div>
	    </div>
	  </div>
	  <div class="m-right m-margin-02">
	    <div class="mobile-box-02 m-bgcolor-02">
	      <div class="m-phone">
	        <div class="m-phone-i m-left"></div>
	        <div class="m-title-01 m-left m-margin-03 m-margin-04">电话充值</div>
	      </div>
	    </div>
	    <div class="mobile-box-01 m-bgcolor-03">
	      <div class="m-train">
	        <div class="m-title-01 m-margin-03">火车票预定</div>
	        <div class="m-radius m-position-01"></div>
	        <div class="m-title-01 m-text-01">-------------------------</div>
	        <div class="m-radius m-position-02"></div>
	        <div class="m-train-i"></div>        
	        <div class="m-title-02 m-text-01">旅行季大优惠，尽情期待！</div>
	      </div>
	    </div>
	    
	    <div class="mobile-box-02 m-bgcolor-06">
	      <div class="m-group">
	        <div class="m-group-i m-left"></div>
	        <div class="m-title-01 m-left m-margin-03" style="line-height:26px;">        
	        团购娱乐<br>----------------<br>
	        <span class="m-title-03">[1元抢购]  [整点抢购]</span>        
	        </div>
	      </div>
	    </div>
	    <div class="m-div">
	      <div class="mobile-box-03 m-bgcolor-08 m-left">
		      <div class="m-weather">
		  		<div class="m-weather-i"></div>
		        <div class="m-title-02 m-text-01" >天气预报</div>
		      </div>
	      </div>
	      <div class="mobile-box-03 m-bgcolor-08 m-right">
	      	<div class="m-tourism">
		  		<div class="m-tourism-i"></div>
		        <div class="m-title-02 m-text-01" >旅行咨询</div>
	        </div>
	      </div>
	      <div class="clearfix"></div>
	    </div>
	  </div>
  </div>