<div class="mobile-footer">
  <ul>
    <li><a href="" class="footer-index">首页</a></li>
    <li><a href="" class="footer-share">分享</a></li>
    <li><a href="" class="footer-my">我的</a></li>
  </ul>
</div>